<!DOCTYPE html>
<html th:fragment="plantilla(titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<base th:href="@{/}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:replace="${titulo}">TITULO</title>

<link rel="stylesheet" href="css/bootstrap-icons.min.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<script defer src="js/bootstrap.bundle.min.js"></script>

<script defer src="js/jquery-3.7.1.min.js"></script>

<link rel="stylesheet" href="css/dataTables.bootstrap5.css">
<script defer src="js/dataTables.js"></script>
<script defer src="js/dataTables.bootstrap5.js"></script>

<script defer src="js/dataTable-function.js"></script>
</head>

<body>


	<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Productos</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex justify-content-between"
				id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link text-white"
						aria-current="page" th:href="@{/}" href="index.html">Principal</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						th:href="@{/autores}" href="autores.html">Categorias</a></li>


				</ul>
				<ul class="navbar-nav d-flex align-items-baseline">
					<li class="nav-item me-4"><a class="nav-link text-white"
						th:href="@{/admin}" href="admin.html"
						sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
<!-- 					<div class="vr me-3" sec:authorize="isAuthenticated()"></div> -->
					<li class="nav-link text-white" sec:authorize="isAuthenticated()"
						sec:authentication="name">Usuario</li>
					<li class="nav-item" sec:authorize="!isAuthenticated()">
						<form th:action="@{/login}" method="post">
							<button
								class="px-2 pb-1 rounded bg-secondary border-dark text-white  ms-4">Iniciar sesión</button>
						</form>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						th:href="@{/logout}"
						class="link-underline fw-semibold link-underline-opacity-0 px-2 pb-1 rounded bg-secondary border-dark text-white  ms-4">Cerrar
							sesión</a></li>

				</ul>
			</div>
		</div>
	</nav>



	<div th:replace="${contenido}">CONTENIDO</div>

	<footer
		class="sticky-bottom text-bg-primary p-2 text-center d-flex flex-column flex-sm-row justify-content-between mt-4">
		<p>&copy;2024 Awanbabuluba</p>
		<ul class="list-unstyled d-flex justify-content-around">
			<li class="px-2"><a href="#"><i
					class="text-white bi bi-facebook"></i></a></li>
			<li class="px-2"><a href="#"><i
					class="text-white bi bi-twitter-x"></i></a></li>
			<li class="px-2"><a href="#"><i
					class="text-white bi bi-instagram"></i></a></li>
			<li class="px-2"><a href="#"><i
					class="text-white bi bi-tiktok"></i></a></li>
		</ul>
	</footer>

</body>

</html>